<template>
  <div>
    <b-container>  

		  <!-- Modal Component --> 
    	<b-modal ref='form_reg' id="form_reg" :title="form_reg.edit ? $t('edit'):$t('new')" size='md' @ok="form_proc">  
    	 
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group   
					  	>
					  		<slot name="label">
					  			<div class="fg-left">
					  				{{$t('category_title2')}}
					  			</div>
					  		</slot>
					    	<b-form-input v-model="form_reg.name"
			                  type="text"
			                  placeholder=""></b-form-input>
					  	</b-form-group>
	    			</b-col> 
    			</b-row> 
    			<b-row v-show="form_reg.edit">
	    			<b-col sm='12'>
			    		<table class="table table-hover">
			    			<thead>
			    				<th>
			    					<b-btn variant="light" @click="getChildren">
			    						<font-awesome-icon icon="sync"></font-awesome-icon>
			    					</b-btn>
			    				</th>
			    				<th>{{$t('subcategory_title')}}</th>
			    				<th> 
					  				<b-btn variant="light" v-b-modal.form_reg_sub  @click="form_new_sub">
					  					<font-awesome-icon icon="plus"></font-awesome-icon>
					  				</b-btn>
			    				</th>
			    			</thead>
			    			<tbody v-if="selected.children && selected.children.length>0">
			    				<tr v-for="(it,idx) in selected.children">
			    					<td>{{idx+1}}</td>
			    					<td>{{it.name}}</td>
			    					<td class="sub_cat">
			    						<b-btn variant="primary" @click="form_edit_sub(it)">
			    							<font-awesome-icon icon="edit"></font-awesome-icon>
			    						</b-btn>&nbsp;
			    						<b-btn variant="danger" @click="form_del_sub(it)">
			    							<font-awesome-icon icon="times"></font-awesome-icon>
			    						</b-btn>
			    					</td>
			    				</tr>
			    			</tbody>
			    			<tbody v-else>
			    				<tr>
			    					<td colspan="3">{{$t('without_data')}}</td>
			    				</tr>
			    			</tbody>
			    		</table>
	    			</b-col> 
    			</b-row> 
  		</b-modal>
    	<b-modal ref='form_reg_sub' id="form_reg_sub" :title="form_reg_sub.edit ? $t('edit'):$t('new')" size='md' @ok="form_proc_sub">  
    	 
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group  
			    			:label="$t('subcategory_title')" 
					  	> 
					    	<b-form-input v-model="form_reg_sub.name"
			                  type="text"
			                  placeholder=""></b-form-input>
					  	</b-form-group>
	    			</b-col> 
    			</b-row>  
  		</b-modal>
    	<div class='fg-left'>
    		<h4>
    			{{$t('category_title')}} 
    			<b-btn variant='custom_variant_button' v-b-modal.form_reg @click='form_new'>
					<font-awesome-icon icon='plus'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' @click='getLists'>
					<font-awesome-icon icon='sync'></font-awesome-icon>
				</b-btn>&nbsp; 
    		</h4>
    	</div>  
    	<hr>
		<b-row>
			<b-col sm="4">
				<div class="fg-left">
					<label style="border-bottom: 2px dashed #999;">Status</label>&nbsp;<label>( {{server_msg}} )</label>
				</div>
			</b-col>
		</b-row>  
		<!--
    	<b-form-input class='custom_font' v-model="list.filter" 
                  placeholder="Filtrar"></b-form-input>
              -->
    	<div class="table-container">
    		<table class='table table-hover table-list custom_font' >
	    		<thead>
	    			<th v-for='val in list.header'>{{val}}</th>
	    		</thead>
	    		<tbody v-if='list.data.length>0'>
	    			<tr v-for='(item,index) in list.data'>
	    				<td>{{index+1}}</td>  
	    				<td>{{item.name}}</td>  
	    				<td class='actions custom_font'> 
	    					<b-btn variant='custom_variant_button' @click="form_edit(item)">
	    						<font-awesome-icon icon='edit'></font-awesome-icon>
	    					</b-btn>
	    					<b-btn variant='custom_variant_button_del' @click="form_del(item)">
	    						<font-awesome-icon icon='times'></font-awesome-icon>
	    					</b-btn>
	    				</td>
	    			</tr>
	    		</tbody>
	    		<tbody v-else>
	    			<td :colspan='list.header.length'>{{$t('without_data')}}</td>
	    		</tbody>
	    	</table>
    	</div>
    </b-container>

  </div>
</template>

<script> 
import Vue from 'vue' 

import axios from 'axios' 
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faPlus,
	faEdit,
	faCloudDownloadAlt,
	faPhone, 
	faEnvelope, 
	faSync,
	faTimes,
	faQuestion,
	faLink
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faPhone)
library.add(faCloudDownloadAlt)
library.add(faEnvelope)
library.add(faSync)
library.add(faTimes)
library.add(faQuestion)
library.add(faLink)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

import VueMoment from 'vue-moment' 
Vue.use(VueMoment) 

import VueI18n from 'vue-i18n'

Vue.use(VueI18n)

import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2) 
 
export default{
	data(){ 
		var _server_path = process.env.VUE_APP_SERVER_API_URL+"/categories"; 
		return { 
			server_msg:'',
			server_host:process.env.VUE_APP_SERVER_URL,
			server_path:_server_path,
			selected:{
				reg:{},
				children:[{id:1,name:'',parent_id:1}],
			},
			selected_sub:{
				reg:{}, 
			},
			filters:{ 
			},
			list:{
				filter:'',
				header:[
					'',  
					this.$i18n.t('name'),  
					this.$i18n.t('actions'), 
				],
				data:[
					{
						name:'Anonymous',   
					}, 
				],
			},
			form_reg:{
				edit:false, 
				name:'',  
			},  
			form_reg_sub:{
				edit:false, 
				name:'',  
				parent_id:null,  
			},  
		};
	},
	mounted(){  
		this.getLists(); 
	},
	methods:{  
	    getLists(){
			var _this = this;
			_this.server_msg=this.$i18n.t('wait_please'); 
			this.axios.get(this.server_path,{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{ 
					param:'with_children',
				}, 
			}).then(
			function(response){
				  console.log(response);
				  window._res = response;
				  _this.list.data = response.data;
				  _this.server_msg='Listo.';
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status);
				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
				_this.server_msg='Error.';
			}); 
	    },
	    form_new(){
	    	this.form_reg.edit=false;
	    	this.form_reg.name='';
	    },
	    form_new_sub(){
	    	this.form_reg_sub.edit=false;
	    	this.form_reg_sub.name='';
	    },
		form_proc(){ 
			var _this = this; 
			let _data = { 
				name: _this.form_reg.name,  
	        };
			console.log(_data);
			var id = _this.selected.reg._id ? _this.selected.reg._id : _this.selected.reg.id;
			this.axios({
		        url:(_this.form_reg.edit ? (_this.server_path+"/"+id):_this.server_path),
		        method:(_this.form_reg.edit ? 'PUT':'POST'),
		        data:_data,
		        headers:{ 
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	            	console.log(response); 
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('reg_edited'):_this.$i18n.t('reg_created');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'success'
		            );
	            	_this.getLists();
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('edit_problems'):_this.$i18n.t('new_problems');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'warning'
		            );
					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin')
						}
					}
	        });  
		}, 
		form_proc_sub(){ 
			var _this = this;   
			let _data = { 
				name: _this.form_reg_sub.name,  
				parent_id: ( _this.form_reg_sub.edit ? _this.form_reg_sub.parent_id:_this.selected.reg.id ),  
	        };
			console.log(_data);
			var id = _this.selected_sub.reg._id ? _this.selected_sub.reg._id : _this.selected_sub.reg.id;
			this.axios({
		        url:(_this.form_reg_sub.edit ? (_this.server_path+"_sub/"+id):_this.server_path+"_sub/"),
		        method:(_this.form_reg_sub.edit ? 'PUT':'POST'),
		        data:_data,
		        headers:{ 
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	            	console.log(response); 
	            	let title = _this.form_reg_sub.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg_sub.edit ? _this.$i18n.t('reg_edited'):_this.$i18n.t('reg_created');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'success'
		            );
	            	_this.getChildren();
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);
	            	let title = _this.form_reg_sub.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg_sub.edit ? _this.$i18n.t('edit_problems'):_this.$i18n.t('new_problems');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'warning'
		            );

					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin')
						}
					}
	        });  
		}, 
		form_edit(reg){
			console.log(reg); 
			this.selected.reg = reg;
			this.selected.children = reg.children;
			this.form_reg.edit = true;
			this.form_reg.name = reg.name ? reg.name : ''; 
			//++++++++++++++++++++
			this.$refs.form_reg.show();
		}, 
		form_edit_sub(reg){
			console.log(reg); 
			this.selected_sub.reg = reg; 
			this.form_reg_sub.edit = true;
			this.form_reg_sub.name = reg.name ? reg.name : ''; 
			this.form_reg_sub.parent_id = reg.parent_id ? reg.parent_id : null; 
			//++++++++++++++++++++
			this.$refs.form_reg_sub.show();
		}, 
		form_del(reg){
			var _this = this;
			var id = reg._id ? reg._id : reg.id;
			this.$swal({
				title: _this.$i18n.t('sure_to_delete'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					this.axios.delete(this.server_path+'/'+id,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
						  	console.log(response);
						  	_this.$swal(
						      	_this.$i18n.t('deleted'),
						      	_this.$i18n.t('record_was_deleted'),
						      	'success'
						    );
						    _this.getLists();
						}
					).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  _this.$i18n.t('notification'),
						  _this.$i18n.t('error_to_deleting_record'),
						  'error'
						)  

						if(err && err.response){
							if(err.response.status==401){
								_this.$store.commit('showModalLogin')
							}
						}
					}); 
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    _this.$i18n.t('request_canceled'),
				    'error'
				  )
				}
			});
		}, 
		form_del_sub(reg){
			var _this = this;
			var id = reg._id ? reg._id : reg.id;
			this.$swal({
				title: _this.$i18n.t('sure_to_delete'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					this.axios.delete(this.server_path+'_sub/'+id,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
						  	console.log(response);
						  	_this.$swal(
						      	_this.$i18n.t('deleted'),
						      	_this.$i18n.t('record_was_deleted'),
						      	'success'
						    );
						    _this.getChildren();
						}
					).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  _this.$i18n.t('notification'),
						  _this.$i18n.t('error_to_deleting_record'),
						  'error'
						)  

						if(err && err.response){
							if(err.response.status==401){
								_this.$store.commit('showModalLogin')
							}
						}
					}); 
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    _this.$i18n.t('request_canceled'),
				    'error'
				  )
				}
			});
		}, 
		getChildren(){
			var _this = this; 
			this.axios.get(this.server_path+"_children/"+this.selected.reg.id,{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{  
				}, 
			}).then(
			function(response){
				  console.log(response);
				  _this.selected.reg.children = response.data;
				  _this.selected.children = response.data;
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status); 

				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
			}); 
		},
	},
	watch:{ 
	}
}
</script>
<style type="text/css"> 
	.table-list{
		/*text-align: left; */
	}
	.actions{
		min-width: 140px;	
	}
	.actions>button{
		margin: 1px 3px;
		/*font-size:12px;*/
	}
	.custom_font{
		
		/*
		font-size: 12px;
		*/
	}
	.btn-custom_variant_button{
		color:#237abd;
		background: white;
	}
	.btn-custom_variant_button_del{
		color:#ff0000;
		background: white;
	}
	.fg-left{
		text-align: left;
		margin-bottom: 5px;
	}
	.btn-phone{
		background: #5bc717;
		color: white;
	}
	.f-group{
		text-align: left;
	}
	.btn-email{
	  	background: #ff5050;
	  	color: white;
	} 
	.sub_cat{
		min-width: 120px;
	}

</style>
