<template>
  <div>
    <b-container>   
    	<b-modal ref='form_reg' id="form_reg" :title="form_reg.edit ? $t('edit'):$t('new')" size='md' @ok="form_proc">  
    	 
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group  
					      	:label="$t('title')" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.title"
			                  type="text"
			                  placeholder=""></b-form-input>
					  	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group  
					      	:label="$t('description')" class='fg-left'
					  	>
					    	<b-form-textarea v-model="form_reg.description"
			                  type="text"
			                  placeholder=""></b-form-textarea>
					  	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'> 
			    		<b-form-group  
					      	label="Visible" class='fg-left'
					  	>
					    	<b-form-select 
					    		v-model="form_reg.visible.selected" 
					    		:options="form_reg.visible.options" 
					    		class="mb-3"  />
					  	</b-form-group> 
	    			</b-col> 
	    			<b-col sm='6'>  
	    			</b-col> 
    			</b-row> 
    			<b-row> 
	    			<b-col sm='12'> 
			    		<b-form-group  
					      	label="Url" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.url"
			                  type="text"
			                  placeholder="http://dominio.com"></b-form-input>
					  	</b-form-group>
	    			</b-col> 
    			</b-row> 
    			<hr />
    			<b-row>
	    			<b-container>
	    				<h5>{{$t('list_of_images')}}</h5>
		    			<div style="overflow-y: scroll;max-height: 300px;">
		    				<div class="vue-select-image">
		    					<ul>
		    						<li v-for="(item,index) in images">
		    							<img :src="item.src" :class="{'img-selected':item.selected}" @click='imagesOnSelected(item)'>
		    							<span class="del" @click="deleteImage(item)">
		    								<font-awesome-icon icon="times"></font-awesome-icon>
		    							</span>
		    						</li>
		    					</ul>
		    				</div>
		    				<!--
		    				<vue-select-image 
			    				:dataImages="images"
			    				@onselectimage="imagesOnSelected"
			    				:is-multiple="false" 
		                  		:selectedImages="imagesInitialSelected"
			    			>
							</vue-select-image>
							-->
		    			</div>
	    			</b-container>
    			</b-row>
    			<hr />
    			<b-row>
	    			<b-col sm='12'>
			    		<vue-dropzone 
			    			ref="myVueDropzone" 
			    			id="dropzone" 
			    			:options="dropzoneOptions" 
			    			v-on:vdropzone-sending="sendingEventDropZone"
			    			v-on:vdropzone-processing="processingEventDropZone"
			    			v-on:vdropzone-success="successEventDropZone"
			    			v-on:vdropzone-uploadprogress="uploadprogressEventDropZone"
			    			v-on:vdropzone-error="errorEventDropZone"
			    		></vue-dropzone>
	    			</b-col> 
    			</b-row> 
  		</b-modal>
    	<div class='fg-left'>
    		<h4>
    			{{$t('cover_title')}}  
    			<b-btn variant='custom_variant_button' v-b-modal.form_reg @click='form_new'>
					<font-awesome-icon icon='plus'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' @click='getLists'>
					<font-awesome-icon icon='sync'></font-awesome-icon>
				</b-btn>&nbsp; 
    		</h4>
    	</div>  
    	<hr>
		<b-row>
			<b-col sm="4">
				<div class="fg-left">
					<label style="border-bottom: 2px dashed #999;">Status</label>&nbsp;<label>( {{server_msg}} )</label>
				</div>
			</b-col>
		</b-row>  
		<!--
    	<b-form-input class='custom_font' v-model="list.filter" 
                  placeholder="Filtrar"></b-form-input>
              -->
      	<div class="table-container">
	    	<table class='table table-hover table-list custom_font' >
	    		<thead>
	    			<th v-for='val in list.header'>{{val}}</th>
	    		</thead>
	    		<tbody v-if='list.data.length>0'>
	    			<tr v-for='(item,index) in list.data'>
	    				<td>{{item.title}}</td>
	    				<td>{{item.description}}</td>  
	    				<td>
	    					<img style='position:relative;width: 100%;' :src="server_host+'/storage/covers/'+item.image_name">
	    				</td>  
	    				<td v-if="item.url!=null && item.url!=''">
	    					<a :href="item.url" target='_blank'>
	    						<font-awesome-icon icon='link'></font-awesome-icon>
	    					</a>
	    				</td> 
	    				<td v-else></td>
	    				<td>{{item.visible==1 ? $t('yes'):'NO'}}</td> 
	    				<td class='actions custom_font'> 
	    					<b-btn variant='custom_variant_button' @click="form_edit(item)">
	    						<font-awesome-icon icon='edit'></font-awesome-icon>
	    					</b-btn>
	    					<b-btn variant='custom_variant_button_del' @click="form_del(item)">
	    						<font-awesome-icon icon='times'></font-awesome-icon>
	    					</b-btn>
	    				</td>
	    			</tr>
	    		</tbody>
	    		<tbody v-else>
	    			<td :colspan='list.header.length'>{{$t('without_data')}}</td>
	    		</tbody>
	    	</table>
	    </div>
    </b-container>

  </div>
</template>

<script> 
import Vue from 'vue'



import axios from 'axios' 
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faPlus,
	faEdit,
	faCloudDownloadAlt,
	faPhone, 
	faEnvelope, 
	faSync,
	faTimes,
	faQuestion,
	faLink
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faPhone)
library.add(faCloudDownloadAlt)
library.add(faEnvelope)
library.add(faSync)
library.add(faTimes)
library.add(faQuestion)
library.add(faLink)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

import VueMoment from 'vue-moment' 
Vue.use(VueMoment)

import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2) 

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

Vue.component('vue-dropzone',vue2Dropzone); 

import VueSelectImage from 'vue-select-image'
// add stylesheet
import 'vue-select-image/dist/vue-select-image.css'

Vue.component('vue-select-image',VueSelectImage); 
 
export default{
	data(){ 
		let _server_path = process.env.VUE_APP_SERVER_API_URL+"/covers";
		let _server_path_images = process.env.VUE_APP_SERVER_API_URL+"/covers/images_upload";
		return { 
			server_msg:'',
			server_host:process.env.VUE_APP_SERVER_URL, 
			server_path:_server_path,
			selected:{
				reg:{},
			},
			filters:{ 
			},
			list:{
				filter:'',
				header:[
					this.$i18n.t('title'), 
					this.$i18n.t('description'), 
					this.$i18n.t('image'), 
					'Url', 
					'Visible', 
					this.$i18n.t('actions'), 
				],
				data:[
					{
						title:'Anonymous',  
						description:'Anonymous',  
						image_name:'Anonymous',  
						visible:'Anonymous',  
						url:'Anonymous',  
					}, 
				],
			},
			form_reg:{
				edit:false, 
				title:'', 
				description:'', 
				visible:{
					selected:'',
					options:[
						{text:this.$i18n.t('select'),value:''},
						{text:'VISIBLE',value:'1'},
						{text:'INVISIBLE',value:'0'}, 
					]
				},  
				image_name:'',
				url:'', 
			}, 
			dropzoneOptions: {
          		url:_server_path_images,
          		autoProcessQueue:true,
          		thumbnailWidth: 150,
          		maxFilesize: 10,
          		paramName: "cover",
          		headers: {}
      		},
      		images:[{id:0,src:'',alt:'',selected:false}],
      		imagesInitialSelected:null,
      		imageSelected:{},
		};
	},
	mounted(){  
		this.getLists();
		this.retrieveImages();
	},
	methods:{  
	    getLists(){
			let _this = this;
			_this.server_msg=this.$i18n.t('wait_please'); 
			this.axios.get(this.server_path,{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then(
			function(response){
				  console.log(response);
				  window._res = response;
				  _this.list.data = response.data;
				  _this.server_msg=_this.$i18n.t('ready');
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status);
				_this.server_msg='Error.';
				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
			}); 
	    },
	    form_new(){
	    	this.form_reg.edit=false;
	    	this.form_reg.title='';
	    	this.form_reg.description='';
	    	this.form_reg.visible.selected = '';
	    	this.form_reg.url = '';
	    	this.form_reg.image_name = '';
	    },
		form_proc(){ 
			let _this = this;
			_this.form_reg.image_name = this.imageSelected.src;
			let _data = { 
				title: _this.form_reg.title, 
				description: _this.form_reg.description, 
				image_name: _this.form_reg.image_name, 
				url: _this.form_reg.url, 
				visible: _this.form_reg.visible.selected,  
	 		};
			console.log(_data);
			let id = _this.selected.reg._id ? _this.selected.reg._id : _this.selected.reg.id;
			this.axios({
		        url:(_this.form_reg.edit ? (_this.server_path+"/"+id):_this.server_path),
		        method:(_this.form_reg.edit ? 'PUT':'POST'),
		        data:_data,
		        headers:{ 
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	            	console.log(response); 
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('reg_edited'):_this.$i18n.t('reg_created');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'success'
		            );
	            	_this.getLists();
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('edit_problems'):_this.$i18n.t('new_problems');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'warning'
		            );
					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin')
						}
					}
	        });  
		}, 
		form_edit(reg){
			console.log(reg);
			console.log(this.images);
			this.selected.reg = reg;
			this.form_reg.edit = true;
			this.form_reg.title = reg.title ? reg.title : '';
			this.form_reg.description = reg.description ? reg.description : '';
			this.form_reg.image_name = reg.image_name ? reg.image_name : '';
			this.form_reg.url = reg.url ? reg.url : '';
			this.form_reg.visible.selected = Number.isInteger(reg.visible) || /^[\d]+$/.test(reg.visible) ? reg.visible : ''; 
			
			for(let i in this.images){
				let img = this.images[i];
				if(img.src.indexOf(reg.image_name)!=-1){
					this.setSelectedImage(img);
					break;
				}
			}
			//++++++++++++++++++++
			this.$refs.form_reg.show();
		},
		setSelectedImage(img){
			for(let i in this.images){
				let image = this.images[i]; 
				image.selected = false;
			}
	 		this.imageSelected = img;
		 	img.selected = true;
		},
		form_del(reg){
			let _this = this;
			let id = reg._id ? reg._id : reg.id;
			this.$swal({
				title: _this.$i18n.t('sure_to_delete'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					this.axios.delete(this.server_path+'/'+id,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
						  	console.log(response);
						  	_this.$swal(
						      	_this.$i18n.t('deleted'),
						      	_this.$i18n.t('record_was_deleted'),
						      	'success'
						    );
						    _this.getLists();
						}
					).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  _this.$i18n.t('notification'),
						  _this.$i18n.t('error_to_deleting_record'),
						  'error'
						);

						if(err && err.response){
							if(err.response.status==401){
								_this.$store.commit('showModalLogin')
							}
						}
					}); 
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    _this.$i18n.t('request_canceled'),
				    'error'
				  )
				}
			});
		}, 
		sendingEventDropZone (file, xhr, formData) {
			console.log("sendingEventDropZone"); 
        	formData.append('title',this.form_reg.title);
        	formData.append('description',this.form_reg.description);
        	formData.append('url',this.form_reg.url);
        	formData.append('visible',this.form_reg.visible);
        	console.log(file);
        	console.log(xhr);
        	console.log(formData);
      	},
		processingEventDropZone (file) {
			console.log("processingEventDropZone"); 
        	console.log(file); 
      	},
		successEventDropZone (file) {
			console.log("successEventDropZone"); 
        	console.log(file); 
        	this.retrieveImages();
      	},
		uploadprogressEventDropZone (file,progress) {/*progress [0,100]*/
			console.log("uploadprogressEventDropZone"); 
        	console.log(file); 
      	},
		errorEventDropZone (file) {
			console.log("errorEventDropZone"); 
        	console.log(file); 
      	},
      	retrieveImages(){
      		let _this = this; 
			this.axios.get(this.server_path+'_images',{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then(
			function(response){
				  console.log(response); 
				  let folder = response.data.folder;
				  let images = response.data.images;
				  _this.images.splice(0,_this.images.length);
				  let cc = 1;
				  images.map(function(img){
				  	_this.images.push({
				  		id:cc,
				  		src:_this.server_host+'/'+folder+'/'+img,
				  		name:img,
				  		alt:'image',
				  		selected:(_this.imageSelected && _this.imageSelected.name==img ?true:false),
				  	});
				  	cc++;
				  });
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status); 

				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
			}); 
      	},
      	imagesOnSelected(img){
      		console.log(img);
      		this.setSelectedImage(img);
      	},
      	deleteImage(item){
      		let _this = this;
      		let src = "";
      		if(item.name.indexOf("/")!=-1){
      			src = item.name.split("/");
      			src = src[src.length-1];
			}else{
				src = item.name;
			}
			this.$swal({
				title: _this.$i18n.t('ask_remove_image'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					this.axios.delete(this.server_path+'_image/'+src,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
						  	console.log(response);
						  	_this.$swal(
						      	_this.$i18n.t('deleted'), 
						      	_this.$i18n.t('image_deleted'), 
						      	'success'
						    );
						    _this.retrieveImages();
						}
					).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  _this.$i18n.t('notification'),
						  _this.$i18n.t('error_to_remove_image'), 
						  'error'
						); 
						if(err && err.response){
							if(err.response.status==401){
								_this.$store.commit('showModalLogin')
							}
						}
					}); 
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    _this.$i18n.t('request_canceled'),
				    'error'
				  )
				}
			});
      	},
	},
	watch:{ 
	}
}
</script>
<style type="text/css"> 
	.table-list{
		/*text-align: left; */
	}
	.actions{
		min-width: 140px;	
	}
	.actions>button{
		margin: 1px 3px;
		/*font-size:12px;*/
	}
	.custom_font{
		
		/*
		font-size: 12px;
		*/
	}
	.btn-custom_variant_button{
		color:#237abd;
		background: white;
	}
	.btn-custom_variant_button_del{
		color:#ff0000;
		background: white;
	}
	.fg-left{
		text-align: left;
	}
	.btn-phone{
		background: #5bc717;
		color: white;
	}
	.f-group{
		text-align: left;
	}
	.btn-email{
	  	background: #ff5050;
	  	color: white;
	} 
	.vue-select-image ul{
		align-items: center;
    	display: flex; 
		flex-wrap: wrap;
		list-style: none;
	}
	.vue-select-image li{
		max-width: 100%;
		margin: 2px;
		padding:2px;
		position: relative;
	}
	.vue-select-image li>span.del{
	 	position: absolute;
	    top: 10px;
	    right: 10px;
	    z-index: 10;
	    background: white;
	    padding: 5px 12px;
	    color: #131313;
	    border-radius: 50%;
	    border:1px solid #999;
	}
	.vue-select-image img{
		border: 3px solid #BBB;
		position: relative;
		width: 100%;
	    border-radius: 10px;
	    transition: border 0.1s ease-in-out;
	}
	.vue-select-image img.img-selected{
		border: 3px solid #32828a;
	    padding: 1px;
	}
	.swal2-container{
		z-index: 10000;
	}

</style>
