<template>
  <div class="home">
    <div>
      <h3>Welcome</h3>
    </div>
  </div>
</template>

<script lang="ts"> 
import HelloWorld from '@/components/HelloWorld.vue' // @ is an alias to /src 
export default{

}
</script>
