<template>
  <div>
    <b-container>  
    	<b-modal ref='form_reg' id="form_reg" :title="form_reg.edit ? $t('edit'):$t('new')" size='md' @ok="form_proc">  
    	 
    			<b-row>
	    			<b-col sm='12'>
					  	<b-input-group 
					  		:label="$t('key')"
					  		class="mt-3 fg-left">
					    	<b-form-input v-model="form_reg.k"
			                  type="text"
			                  placeholder="key"
			                  :disabled="form_reg.disable_edit_key"
			                  ></b-form-input>
						    <b-input-group-append> 
					      		<b-button :variant="form_reg.disable_edit_key ? 'success':'danger'" @click="form_reg.disable_edit_key=!form_reg.disable_edit_key"> 
						      		<font-awesome-icon :icon=" form_reg.disable_edit_key ? 'edit':'times'"></font-awesome-icon> 
						      	</b-button>  
						    </b-input-group-append>
					  	</b-input-group>
	    			</b-col> 
    			</b-row> 
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group  
					      	:label="$t('value')" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.v"
			                  type="text"
			                  placeholder="value"></b-form-input>
					  	</b-form-group> 
	    			</b-col> 
    			</b-row>  
  		</b-modal>
    	<div class='fg-left'>
    		<h4>
    			{{$t('options_title')}}  
    			<b-btn variant='custom_variant_button' v-b-modal.form_reg @click='form_new'>
					<font-awesome-icon icon='plus'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' @click='getLists'>
					<font-awesome-icon icon='sync'></font-awesome-icon>
				</b-btn>&nbsp; 
    		</h4>
    	</div>  
    	<hr>
		<b-row>
			<b-col sm="4">
				<div class="fg-left">
					<label style="border-bottom: 2px dashed #999;">Status</label>&nbsp;<label>( {{server_msg}} )</label>
				</div>
			</b-col>
		</b-row>  
		<!--
    	<b-form-input class='custom_font' v-model="list.filter" 
                  placeholder="Filtrar"></b-form-input>
              -->
    	<div class="table-container">
    		<table class='table table-hover table-list custom_font' >
	    		<thead>
	    			<th v-for='val in list.header'>{{val}}</th>
	    		</thead>
	    		<tbody v-if='list.data.length>0'>
	    			<tr v-for='(item,index) in list.data'>
	    				<td>{{item.k}}</td>
	    				<td>{{item.v}}</td>   
	    				<td class='actions custom_font'> 
	    					<b-btn variant='custom_variant_button' @click="form_edit(item)">
	    						<font-awesome-icon icon='edit'></font-awesome-icon>
	    					</b-btn>
	    					<b-btn variant='custom_variant_button_del' @click="form_del(item)">
	    						<font-awesome-icon icon='times'></font-awesome-icon>
	    					</b-btn>
	    				</td>
	    			</tr>
	    		</tbody>
	    		<tbody v-else>
	    			<td :colspan='list.header.length'>{{$t('without_data')}}</td>
	    		</tbody>
	    	</table>
    	</div>
    </b-container>

  </div>
</template>

<script> 
import Vue from 'vue'



import axios from 'axios' 
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faPlus,
	faEdit,
	faCloudDownloadAlt,
	faPhone, 
	faEnvelope, 
	faSync,
	faTimes,
	faQuestion,
	faLink,
	faCheckCircle,
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faPhone)
library.add(faCloudDownloadAlt)
library.add(faEnvelope)
library.add(faSync)
library.add(faTimes)
library.add(faQuestion)
library.add(faLink)
library.add(faCheckCircle)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

import VueMoment from 'vue-moment' 
Vue.use(VueMoment)

import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2)  
 
import RecognitionSearch from '@/components/RecognitionSearch'
Vue.component('recognition-search',RecognitionSearch);

export default{
	data(){ 
		let _server_path = process.env.VUE_APP_SERVER_API_URL+"/options"; 
		return { 
			server_msg:'',
			server_host:process.env.VUE_APP_SERVER_URL, 
			server_path:_server_path,
			selected:{
				reg:{},
			},
			filters:{ 
			},
			list:{
				filter:'',
				header:[
					this.$i18n.t('key'), 
					this.$i18n.t('value'),  
					this.$i18n.t('actions'), 
				],
				data:[
					{
						k:'Anonymous',  
						v:'Anonymous',   
					}, 
				],
			},
			form_reg:{
				edit:false, 
				disable_edit_key:true,
				k:'', 
				v:'',   
			},  
		};
	},
	mounted(){  
		this.getLists(); 
	},
	methods:{  
	    getLists(){
			let _this = this;
			_this.server_msg=this.$i18n.t('wait_please'); 
			this.axios.get(this.server_path,{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then(
			function(response){
				  console.log(response);
				  window._res = response;
				  _this.list.data = response.data;
				  _this.server_msg=_this.$i18n.t('ready');
			}).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status);
				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
				_this.server_msg='Error.';
			}); 
	    },
	    form_new(){
	    	this.form_reg.edit=false;
	    	this.form_reg.k='';
	    	this.form_reg.v=''; 
	    },
		form_proc(){ 
			let _this = this; 
			let _data = { 
				k: _this.form_reg.k, 
				v: _this.form_reg.v,  
	 		};
			console.log(_data); 
			let id = _this.selected.reg._id ? _this.selected.reg._id : _this.selected.reg.id;
			this.axios({
		        url:(_this.form_reg.edit ? (_this.server_path+"/"+id):_this.server_path),
		        method:(_this.form_reg.edit ? 'PUT':'POST'),
		        data:_data,
		        headers:{ 
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	            	console.log(response); 
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('reg_edited'):_this.$i18n.t('reg_created');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'success'
		            );
	            	_this.getLists();
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);
	          		if( err && err.response ) {  
						if( err.response.status==401 ) {
							_this.$store.commit('showModalLogin')
						}
	          		}
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('edit_problems'):_this.$i18n.t('new_problems');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'warning'
		            );
	        });  
		}, 
		form_edit(reg){
			console.log(reg); 
			this.selected.reg = reg;
			this.form_reg.edit = true;
			this.form_reg.k = reg.k ? reg.k : '';
			this.form_reg.v = reg.v ? reg.v : ''; 
			//++++++++++++++++++++
			this.$refs.form_reg.show();
		}, 
		form_del(reg){
			let _this = this; 
			this.$swal({
				title: _this.$i18n.t('sure_to_delete'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					_this.axios.delete(_this.server_path+'/'+reg.id,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
						  	console.log(response);
						  	_this.$swal(
						      	_this.$i18n.t('deleted'),
						      	_this.$i18n.t('record_was_deleted'),
						      	'success'
						    );
						    _this.getLists();
						}
					).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);
		          		if( err && err.response ) {  
							if( err.response.status==401 ) {
								_this.$store.commit('showModalLogin')
							}
		          		}

						_this.$swal(
						  _this.$i18n.t('notification'),
						  _this.$i18n.t('error_to_deleting_record'),
						  'error'
						)  
					}); 
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    _this.$i18n.t('request_canceled'),
				    'error'
				  )
				}
			});
		}, 
	},
	watch:{ 
	}
}
</script>
<style type="text/css"> 
	.table-list{
		/*text-align: left; */
	}
	.actions{
		min-width: 140px;	
	}
	.actions>button{
		margin: 1px 3px;
		/*font-size:12px;*/
	}
	.custom_font{
		
		/*
		font-size: 12px;
		*/
	}
	.btn-custom_variant_button{
		color:#237abd;
		background: white;
	}
	.btn-custom_variant_button_del{
		color:#ff0000;
		background: white;
	}
	.fg-left{
		text-align: left;
	}
	.btn-phone{
		background: #5bc717;
		color: white;
	}
	.f-group{
		text-align: left;
	}
	.btn-email{
	  	background: #ff5050;
	  	color: white;
	}  
	.swal2-container{
		z-index: 10000;
	}

</style>
