<template>
  <div>
    <b-container>  
		<b-modal id="modal_zoom_image" ref="modal_zoom_image" size="lg" :title="$t('zoom_image')" :hide-footer="true">
		    <div>
		    	<img :src="zoom_image_src">
		    </div>
		</b-modal>
		<b-modal id="modal_categories" ref="modal_categories" size="md" :hide-footer="false">
		    <div slot="modal-title">
		    		{{$t('category_title')}}&nbsp;
		    		<b-btn @click="getCategories" variant="primary">
		    			<font-awesome-icon icon="sync"></font-awesome-icon>
		    		</b-btn>
		    </div>
		    <div> 
				<ul class="noselect">
					<li v-for="(it,idx) in categories" :data-id="it.id"> 
						<label @click="onClickCategory(it)" :class="{selected:it.selected}">
							<font-awesome-icon v-if="it.selected" icon="check-circle"></font-awesome-icon>
							<font-awesome-icon v-else icon="circle"></font-awesome-icon>
							{{it.name}}
						</label>
						<ul v-if="it.children_size>0">
							<li v-for="(itx,idy) in it.children" :data-id="itx.id"> 
								<label @click="onClickChildCategory(itx,it)" :class="{selected:itx.selected}">
									<font-awesome-icon v-if="itx.selected" icon="check-circle"></font-awesome-icon>
									<font-awesome-icon v-else icon="circle"></font-awesome-icon>
									{{itx.name}} 
								</label>
							</li>
						</ul>
					</li>
				</ul>
		    </div>
		</b-modal>
		<b-modal id="modal_images" ref='modal_images' size="lg" :title="$t('images')" :hide-footer="true"> 
    			<b-row>
	    			<b-col sm='12'>
			    		<vue-dropzone 
			    			ref="myVueDropzone" 
			    			id="dropzone" 
			    			:options="dropzoneOptions" 
			    			v-on:vdropzone-sending="sendingEventDropZone"
			    			v-on:vdropzone-processing="processingEventDropZone"
			    			v-on:vdropzone-success="successEventDropZone"
			    			v-on:vdropzone-uploadprogress="uploadprogressEventDropZone"
			    			v-on:vdropzone-error="errorEventDropZone"
			    		></vue-dropzone>
	    			</b-col> 
    			</b-row> 
    			<hr />
    			<b-row>
	    			<b-container>
	    				<h5>
	    					{{$t('list_of_images')}}
	    					<b-btn @click="retrieveImages">
	    						<font-awesome-icon icon="sync"></font-awesome-icon>
	    					</b-btn>
	    				</h5>
		    			<div style="overflow-y: scroll;max-height: 300px;">
		    				<div class="vue-select-image quarter-width">
		    					<ul>
		    						<li v-for="(item,index) in images" style="overflow-x: hidden;">
		    							<img class="noselect" :class="{'img-selected':item.selected}" :src="item.src">
		    							<span class="del" @click="deleteImage(item)">
		    								<font-awesome-icon icon="times"></font-awesome-icon>
		    							</span>
		    							<span class="sel" @click="selectImage(item)" :class="{selected:item.selected}">
		    								<font-awesome-icon icon="check"></font-awesome-icon>
		    							</span>
		    							<span class="title1">
		    								{{item.name.split('/')[1]}}
		    							</span>
		    						</li>
		    					</ul>
		    				</div> 
		    			</div> 
		    			<hr />
	    				<h5>
	    					{{$t('images_selected')}} 
	    					<b-btn @click="processImagesSelected" variant="primary">
	    						<font-awesome-icon icon="check"></font-awesome-icon>
	    					</b-btn>
	    				</h5> 
	    				<div class="vue-select-image quarter-width">
	    					<ul>
	    						<li v-for="(item,index) in imagesSelected">
	    							<span class="del" @click="removeSelectedImage(item,index)">
	    								<font-awesome-icon icon="times"></font-awesome-icon>
	    							</span>
	    							<img class="noselect" :src="item.src"> 
	    							<span class="title1">
	    								{{item.name.split('/')[1]}}
	    							</span>
	    						</li>
	    					</ul>
	    				</div>   
	    			</b-container>
    			</b-row>
		</b-modal> 
    	<b-modal 
    		ref='form_reg' 
    		id="form_reg" 
    		:title="form_reg.edit ? $t('edit'):$t('new')" 
    		size='lg' 
    		@ok="form_proc">  
    	 
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group  
					      	:label="$t('title')" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.name"
			                  type="text"
			                  placeholder=""></b-form-input>
					  	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='12'>
			    		<b-form-group  
					      	:label="$t('description')" class='fg-left'
					  	>
					  		<!--
					    	<b-form-textarea v-model="form_reg.description"
			                  type="text"
			                  placeholder=""></b-form-textarea>
			                -->
							<wysiwyg v-model="form_reg.description" /> 
					  	</b-form-group>
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group  
					      	:label="$t('price_local')" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.price_local"
			                  type="text"
			                  placeholder=""
			              	></b-form-input>
					  	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'> 
			    		<b-form-group  
					      	:label="$t('price_local_show')" class='fg-left'
					  	> 
					    	<toggle-button   
               					:labels="{checked: $t('yes'), unchecked: 'NO'}"
          						:color="{checked: color_checked, unchecked: color_unchecked}"
               					:font-size="16"
               					:width="70"
					    		:value="form_reg.price_local_show"
               					:sync="true"
               					v-model="form_reg.price_local_show"
               				/>
					  	</b-form-group> 
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group  
					      	:label="$t('price_foreign')" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.price_foreign"
			                  type="text"
			                  placeholder=""
			              	></b-form-input>
					  	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'> 
			    		<b-form-group  
					      	:label="$t('price_foreign_show')" class='fg-left'
					  	> 
					    	<toggle-button   
               					:labels="{checked: $t('yes'), unchecked: 'NO'}"
          						:color="{checked: color_checked, unchecked: color_unchecked}"
               					:font-size="16"
               					:width="70"
					    		:value="form_reg.price_foreign_show"
               					:sync="true"
               					v-model="form_reg.price_foreign_show"
               				/>
					  	</b-form-group> 
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group  
					      	:label="$t('price_last_local')" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.price_last_local"
			                  type="text"
			                  placeholder=""
			              	></b-form-input>
					  	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'> 
			    		<b-form-group  
					      	:label="$t('price_last_local_show')" class='fg-left'
					  	> 
					    	<toggle-button   
               					:labels="{checked: $t('yes'), unchecked: 'NO'}"
          						:color="{checked: color_checked, unchecked: color_unchecked}"
               					:font-size="16"
               					:width="70"
					    		:value="form_reg.price_last_local_show"
               					:sync="true"
               					v-model="form_reg.price_last_local_show"
               				/>
					  	</b-form-group> 
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group  
					      	:label="$t('price_last_foreign')" class='fg-left'
					  	>
					    	<b-form-input v-model="form_reg.price_last_foreign"
			                  type="text"
			                  placeholder=""
			              	></b-form-input>
					  	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'> 
			    		<b-form-group  
					      	:label="$t('price_last_foreign_show')" class='fg-left'
					  	> 
					    	<toggle-button   
               					:labels="{checked: $t('yes'), unchecked: 'NO'}"
          						:color="{checked: color_checked, unchecked: color_unchecked}"
               					:font-size="16"
               					:width="70"
					    		:value="form_reg.price_last_foreign_show"
               					:sync="true"
               					v-model="form_reg.price_last_foreign_show"
               				/>
					  	</b-form-group> 
	    			</b-col> 
    			</b-row>
    			<b-row>
	    			<b-col sm='6'>  
			    		<b-form-group  
					      	:label="$t('visible')" class='fg-left'
					  	>
					  		<!--
					    	<b-form-select 
					    		v-model="form_reg.visible.selected" 
					    		:options="form_reg.visible.options" 
					    		class="mb-3"  />
					    	-->
					    	<toggle-button   
               					:labels="{checked: $t('yes'), unchecked: 'NO'}"
          						:color="{checked: color_checked, unchecked: color_unchecked}"
               					:font-size="16"
               					:width="70"
					    		:value="form_reg.visible"
               					:sync="true"
               					v-model="form_reg.visible"
               				/>	
					  	</b-form-group>
	    			</b-col> 
	    			<b-col sm='6'>  
	    				<b-btn v-b-modal.modal_categories>Categorías</b-btn>
	    			</b-col> 
    			</b-row>
    			<b-row> 
	    			<b-col sm='12'>  
	    				<label>{{$t('select')}}</label>&nbsp;
	    				<b-btn v-b-modal.modal_images>
	    					<font-awesome-icon icon="images"></font-awesome-icon>
	    				</b-btn>
	    			</b-col> 
    			</b-row>
    			<b-row> 
	    			<b-col sm='12'>  
	    				<vue-draggable v-model="form_reg.images" style="text-align: left;">
						    <transition-group>
						        <div 
						        	class="drag-element form-images" 
						        	:data-src="image_name" 
						        	v-for="(image_name,index) in form_reg.images" 
						        	:key="index+1"> 
	    							<b-btn @click="zoomImage(server_host+'/'+image_folder+'/'+image_folder2+'/'+image_name)" class="zoom-image" variant="primary">
	    								<font-awesome-icon icon="arrows-alt"></font-awesome-icon>
	    							</b-btn>
	    							<b-btn class="remove-image" variant="danger" @click="removeImageFromForm(image_name,index)">
	    								<font-awesome-icon icon="times"></font-awesome-icon>
	    							</b-btn>
	    							<img class="noselect" :src="server_host+'/'+image_folder+'/'+image_folder2+'/'+image_name"> 
						        </div>
						    </transition-group> 
						</vue-draggable> 
	    			</b-col> 
    			</b-row> 
    			<hr />
  		</b-modal>
    	<div class='fg-left'>
    		<h4>
    			{{$t('product_title')}}  
    			<b-btn variant='custom_variant_button' v-b-modal.form_reg @click='form_new'>
					<font-awesome-icon icon='plus'></font-awesome-icon>
				</b-btn>&nbsp;
    			<b-btn variant='custom_variant_button' @click='getLists'>
					<font-awesome-icon icon='sync'></font-awesome-icon>
				</b-btn>&nbsp; 
    		</h4>
    	</div>  
    	<hr>
		<b-row>
			<b-col sm="4">
				<div class="fg-left">
					<label style="border-bottom: 2px dashed #999;">Status</label>&nbsp;<label>( {{server_msg}} )</label>
				</div>
			</b-col>
		</b-row>  
		<!--
    	<b-form-input class='custom_font' v-model="list.filter" 
                  placeholder="Filtrar"></b-form-input>
              -->
    	<div class="table-container">
	    	<table class='table table-hover table-list custom_font' >
	    		<thead>
	    			<th v-for='val in list.header'>{{val}}</th>
	    		</thead>
	    		<tbody v-if='list.data.length>0'>
	    			<tr v-for='(item,index) in list.data'>
	    				<td>{{index+1}}</td>
	    				<td>{{item.name}}</td> 
	    				<td>{{item.price_local}}</td>  
	    				<td>{{item.price_foreign}}</td>    
	    				<td>
	    					<ul v-if="item.categories.length>0" class="table-list-categories">
	    						<li v-for="(cat,cat_idx) in item.categories" v-if="!cat.parent_id">
	    							<span >
	    								{{cat.name}}
	    							</span> 
	    							<ul v-if="anyChildCategContainedInRegCategories(cat.children,item.categories)">
	    								<li v-for="(child,child_idx) in cat.children" v-if="childCategContainedInRegCategories(child,item.categories)">
	    									<span>{{child.name}}</span>
	    								</li>
	    							</ul>
	    						</li>
	    					</ul>
	    					<span v-else>-</span>
	    				</td>    
	    				<td>
	    					<!--
	    					<b-btn :variant="item.hightlight==1 ? 'hightlighted':'unhightlighted'" @click="highlight_product(item,index)">
	    						<font-awesome-icon :icon="item.hightlight==1 ? 'check-circle':'circle'"></font-awesome-icon>
	    					</b-btn>
	    					-->

	    					<b-btn v-if="item.highlight==1" variant="toggle-highlight" @click="highlight_product(item,index)">
	    						<font-awesome-icon icon="check-circle"></font-awesome-icon>
	    					</b-btn>  
	    					<b-btn v-else variant="toggle-unhighlight" @click="highlight_product(item,index)">
	    						<font-awesome-icon icon="circle"></font-awesome-icon>
	    					</b-btn>  
	    				</td>    
	    				<td class='actions custom_font'> 
	    					<b-btn variant='custom_variant_button' @click="form_edit(item)">
	    						<font-awesome-icon icon='edit'></font-awesome-icon>
	    					</b-btn>
	    					<b-btn variant='custom_variant_button_del' @click="form_del(item)">
	    						<font-awesome-icon icon='times'></font-awesome-icon>
	    					</b-btn>
	    				</td>
	    			</tr>
	    		</tbody>
	    		<tbody v-else>
	    			<td :colspan='list.header.length'>{{$t('without_data')}}</td>
	    		</tbody>
	    	</table>
	    </div>
    </b-container>

  </div>
</template>

<script> 
import Vue from 'vue'



import axios from 'axios' 
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faPlus,
	faEdit,
	faCloudDownloadAlt,
	faPhone, 
	faEnvelope, 
	faSync,
	faTimes,
	faQuestion,
	faLink,
	faArrowsAlt,
	faCheck,
	faCheckCircle,
	faCircle,
	faImages
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faPlus)
library.add(faEdit)
library.add(faPhone)
library.add(faCloudDownloadAlt)
library.add(faEnvelope)
library.add(faSync)
library.add(faTimes)
library.add(faQuestion)
library.add(faLink)
library.add(faArrowsAlt)
library.add(faCheck)
library.add(faCheckCircle)
library.add(faCircle)
library.add(faImages)

Vue.component('font-awesome-icon', FontAwesomeIcon)  

import form_helpers from '@/helpers/forms';

import appLoginForm from '@/components/app-login-form'

Vue.component('app-login-form',appLoginForm); 

import VueMoment from 'vue-moment' 
Vue.use(VueMoment)

import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2) 

import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

Vue.component('vue-dropzone',vue2Dropzone); 

import VueSelectImage from 'vue-select-image'
// add stylesheet
import 'vue-select-image/dist/vue-select-image.css'

Vue.component('vue-select-image',VueSelectImage); 

import UUID from 'vue-uuid';
 
Vue.use(UUID);

/*
import VueDraggable from 'vue-draggable'
 
Vue.use(VueDraggable) 
*/
 
import draggable from 'vuedraggable'
 
Vue.component('vue-draggable',draggable)

global.jQuery = require('jquery')


import wysiwyg from "vue-wysiwyg";
Vue.use(wysiwyg, { 
}); 
import "vue-wysiwyg/dist/vueWysiwyg.css";

import ToggleButton from 'vue-js-toggle-button'

Vue.use(ToggleButton) 

const isOne = val => (Number.isInteger(val) || /^[\d]+$/.test(val)) && val==1;
const numToBool = val => val==1 ? true:false;
const boolToNum = val => val ? 1:0;

export default{
	data(){ 
		let _server_path = process.env.VUE_APP_SERVER_API_URL+"/products";
		let _server_path_images = process.env.VUE_APP_SERVER_API_URL+"/products/images_upload";
		let _server_path_categories = process.env.VUE_APP_SERVER_API_URL+"/categories";
		return { 
			server_msg:'',
			server_host:process.env.VUE_APP_SERVER_URL, 
			server_path:_server_path,
			server_path_categories:_server_path_categories,
			selected:{
				reg:{},
			},
			filters:{ 
			},
			list:{
				filter:'',
				header:[
					'',
					this.$i18n.t('title'),  
					this.$i18n.t('price_local'), 
					this.$i18n.t('price_foreign'),  
					this.$i18n.t('categories'),  
					this.$i18n.t('highlight'),  
					this.$i18n.t('actions'), 
				],
				data:[
					{
						name:'Anonymous',  
						description:'Anonymous',  
						visible:1,  
						price_local:0.0,
						price_foreign:0.0, 
						price_last_local:0.0,
						price_last_foreign:0.0,  
						price_local_show:1,
						price_foreign_show:1,
						price_last_local_show:1,
						price_last_foreign_show:1, 
						categories:1, 
						highlight:1, 
					}, 
				],
			},
			image_folder:'',
			image_folder2:'',
			form_reg:{
				edit:false, 
				name:'', 
				description:'', 
				visible:false,
				price_local:0.0,
				price_foreign:0.0, 
				price_last_local:0.0,
				price_last_foreign:0.0,  
				price_local_show:false,  
				price_foreign_show:false,  
				price_last_local_show:false,  
				price_last_foreign_show:false,
				images:[], 
			}, 
			color_checked:"rgb(57, 165, 81)",
			color_unchecked:"rgb(220, 71, 56)",
			dropzoneOptions: {
          		url:_server_path_images,
          		autoProcessQueue:true,
          		thumbnailWidth: 150,
          		maxFilesize: 10,
          		paramName: "image_product",
          		headers: {}
      		},
      		images:[{id:0,name:'',src:'',alt:'',selected:false}], 
      		imagesSelected:[], 
      		zoom_image_src:'',
      		categories:[{selected:false}],
		};
	},
	mounted(){  
		this.getLists();
		this.retrieveImages();
		this.getCategories();
	},
	methods:{
		anyChildCategContainedInRegCategories(childs,cats){
			let flag = false;
			cats.forEach(function(cat){
				if(flag)return;
				if(cat.parent_id){
					childs.forEach(function(ch){
						if(flag)return;
						if(
							cat.id == ch.id && 
							cat.parent_id == ch.parent_id
						){
							flag = true;
						}
					});
				}
			});
			return flag;
		},  
		childCategContainedInRegCategories(child,cats){
			let flag = false;
			cats.forEach(function(cat){
				if(flag)return;
				if(cat.parent_id && child.id==cat.id){
					flag = true; 
				}
			});
			return flag;
		},  
	    getLists(){
			let _this = this;
			_this.server_msg=this.$i18n.t('wait_please'); 
			this.axios.get(this.server_path,{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then(
			function(response){
				  console.log(response);
				  window._res = response;
				  _this.list.data = response.data;
				  _this.server_msg=_this.$i18n.t('ready');
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status);
				_this.server_msg='Error.';
				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
			}); 
	    },
	    form_new(){
	    	this.form_reg.edit=false;
	    	this.form_reg.name='';
	    	this.form_reg.description='';
	    	this.form_reg.visible = true; 
	    	this.form_reg.price_local_show.selected = ''; 
	    	this.form_reg.price_last_local_show.selected = ''; 
	    	this.form_reg.price_foreign_show.selected = ''; 
	    	this.form_reg.price_last_foreign_show = false;  
	    },
		form_proc(){ 
			let _this = this; 
			let _images = [];
			console.log("prev images",_this.form_reg.images);
			jQuery('.form-images').each(function(val){
				let src = jQuery(this).attr("data-src");
				_images.push(src);
			}); 
			_images = _images.reverse();
			console.log("post images",_images);

			let cat_ids = 
			_this.categories.filter(cat => cat.selected);

			let _data = { 
				name: _this.form_reg.name, 
				description: _this.form_reg.description, 
				price_local:_this.form_reg.price_local,
				price_foreign:_this.form_reg.price_foreign,
				price_last_local:_this.form_reg.price_last_local,
				price_last_foreign:_this.form_reg.price_last_foreign,
				visible: boolToNum(_this.form_reg.visible), 
				price_local_show:boolToNum(_this.form_reg.price_local_show),
				price_foreign_show:boolToNum(_this.form_reg.price_foreign_show), 
				price_last_local_show:boolToNum(_this.form_reg.price_last_local_show),
				price_last_foreign_show:boolToNum(_this.form_reg.price_last_foreign_show), 
				images:_images, 
				categories:cat_ids,
	        };
			console.log(_data);
			let id = _this.selected.reg._id ? _this.selected.reg._id : _this.selected.reg.id;
			this.axios({
		        url:(_this.form_reg.edit ? (_this.server_path+"/"+id):_this.server_path),
		        method:(_this.form_reg.edit ? 'PUT':'POST'),
		        data:_data,
		        headers:{ 
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	            	console.log(response); 
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('reg_edited'):_this.$i18n.t('reg_created');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'success'
		            );
	            	_this.getLists();
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);
	            	let title = _this.form_reg.edit ? _this.$i18n.t('edit2'):_this.$i18n.t('new');
	            	let desc = _this.form_reg.edit ? _this.$i18n.t('edit_problems'):_this.$i18n.t('new_problems');
	            	_this.$swal(
		              	title,
		              	desc,
		              	'warning'
		            );

					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin')
						}
					}
	        });  
		}, 
		unSelectCategories(){
			let _this =this; 
			_this.categories.forEach(function(_cat){
				_cat.selected = false;
				if(_cat.children){
					_cat.children.forEach(function(child){
						child.selected=false;
					});
				}
			});
		},
		setCurrentCategories(){  
			let _this = this;
			if(_this.selected.reg){
				_this.selected.reg.categories = _this.selected.reg.categories ? _this.selected.reg.categories : [];
				_this.selected.reg.categories.forEach(function(cat){ 
					_this.categories.forEach(function(_cat){ 
						if(_cat.id==cat.id)_cat.selected = true;
						_cat.children.forEach(function(child){ 
							if(child.id==cat.id){
								child.selected = true;
								_cat.selected = true;
							}
						});
					});
				});
			}
		},
		form_edit(reg){
			console.log("reg => ",reg);
			let _this =this; 
			this.selected.reg = reg;
			this.form_reg.edit = true;
			this.form_reg.name = reg.name ? reg.name : '';
			this.form_reg.description = reg.description ? reg.description : '';
			this.form_reg.price_local = reg.price_local ? reg.price_local : 0.0;
			this.form_reg.price_foreign = reg.price_foreign ? reg.price_foreign : 0.0;
			this.form_reg.price_last_local = reg.price_last_local ? reg.price_last_local : 0.0;
			this.form_reg.price_last_foreign = reg.price_last_foreign ? reg.price_last_foreign : 0.0;
			this.form_reg.price_local_show 			= isOne(reg.price_local_show);  
			this.form_reg.price_foreign_show 		= isOne(reg.price_foreign_show);  
			this.form_reg.price_last_local_show 	= isOne(reg.price_last_local_show);  
			this.form_reg.price_last_foreign_show 	= isOne(reg.price_last_foreign_show);  
			this.form_reg.visible 					= isOne(reg.visible); 
			this.form_reg.images = reg.images && Array.isArray(reg.images) ? reg.images : []; 
			console.log("form_reg => ",this.form_reg);
			reg.categories = reg.categories ? reg.categories : []; 
			this.unSelectCategories();
			this.setCurrentCategories();
			 
			//++++++++++++++++++++
			this.$refs.form_reg.show(); 
		}, 
		form_del(reg){
			let _this = this;
			let id = reg._id ? reg._id : reg.id;
			this.$swal({
				title: _this.$i18n.t('sure_to_delete'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					this.axios.delete(this.server_path+'/'+id,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
						  	console.log(response);
						  	_this.$swal(
						      	_this.$i18n.t('deleted'),
						      	_this.$i18n.t('record_was_deleted'),
						      	'success'
						    );
						    _this.getLists();
						}
					).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  _this.$i18n.t('notification'),
						  _this.$i18n.t('error_to_deleting_record'),
						  'error'
						); 
						if(err && err.response){
							if(err.response.status==401){
								_this.$store.commit('showModalLogin')
							}
						}
					}); 
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    _this.$i18n.t('request_canceled'),
				    'error'
				  )
				}
			});
		}, 
		sendingEventDropZone (file, xhr, formData) {
			console.log("sendingEventDropZone"); 
        	formData.append('title',this.form_reg.title);
        	formData.append('description',this.form_reg.description);
        	formData.append('url',this.form_reg.url);
        	formData.append('visible',this.form_reg.visible);
        	console.log(file);
        	console.log(xhr);
        	console.log(formData);
      	},
		processingEventDropZone (file) {
			console.log("processingEventDropZone"); 
        	console.log(file); 
      	},
		successEventDropZone (file) {
			console.log("successEventDropZone"); 
        	console.log(file); 
        	this.retrieveImages();
      	},
		uploadprogressEventDropZone (file,progress) {/*progress [0,100]*/
			console.log("uploadprogressEventDropZone"); 
        	console.log(file); 
      	},
		errorEventDropZone (file) {
			console.log("errorEventDropZone"); 
        	console.log(file); 
      	},
      	retrieveImages(){
      		let _this = this; 
			this.axios.get(this.server_path+'_images',{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then(
			function(response){
				  console.log(response); 
				  let folder = response.data.folder;
				  _this.image_folder = folder;
				  _this.image_folder2 = response.data.folder2;
				  let images = response.data.images;
				  _this.images.splice(0,_this.images.length); 
				  images.map(function(img){
				  	let _img = {
				  		id:_this.$uuid.v1(),
				  		src:_this.server_host+'/'+folder+'/'+img,
				  		name:img,
				  		alt:'image',
				  		selected:false,
				  	};
				  	_img.selected = _this.imagesSelectedHasImage(_img);
				  	_this.images.push(_img); 
				  });
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status); 

				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
			}); 
      	}, 
      	imagesSelectedHasImage(img){
  			let find = false;
  			for(let i in this.imagesSelected){
  				if(this.imagesSelected[i].src==img.src){
  					find = true;
  					break;
  				}
  			} 
			return find;
      	},
      	selectImage(item){	
      		item.selected = !item.selected;
      		this.watchForImageChangeProp(item);
      	},
      	removeSelectedImage(item,index){
      		item.selected = false;
      		this.imagesSelected.splice(index,1);
      	},
      	processImagesSelected(){
      		var _this = this;
  			this.imagesSelected.forEach(function(img){ 
      			let tmp = img.name.split('/');
      			let _img = tmp[tmp.length-1];
      			if(_this.form_reg.images.indexOf(_img)<0){
      				_this.form_reg.images.push(_img);
      			}
  			});
  			/*
      		for(let i=0;i<this.imagesSelected.length;i++){
      			let img = this.imagesSelected[i];
      			let tmp = img.name.split('/');
      			img = tmp[tmp.length-1];
      		}
      		*/
      		this.$refs.modal_images.hide();
      	},
      	watchForImageChangeProp(item){

	  		if(item.selected){ 
	  			let find = false;
	  			for(let i in this.imagesSelected){
	  				if(this.imagesSelected[i].src==item.src){
	  					find = true;
	  					break;
	  				}
	  			} 
				if(!find){
					this.imagesSelected.push(item);
				}
	  		}else{
	  			let idx = null;
	  			for(let i in this.imagesSelected){
	  				if(this.imagesSelected[i].src==item.src){
	  					idx = i;
	  					break;
	  				}
	  			} 
	  			if(idx!=null){
	  				this.imagesSelected.splice(idx,1);
	  			}
	  		}
      	},
      	deleteImage(item){
      		let _this = this;
      		let src = "";
      		if(item.name.indexOf("/")!=-1){
      			src = item.name.split("/");
      			src = src[src.length-1];
			}else{
				src = item.name;
			}
			this.$swal({
				title: _this.$i18n.t('ask_delete_image'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					this.axios.delete(this.server_path+'_image/'+src,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
						  	console.log(response);
						  	_this.$swal(
						      	_this.$i18n.t('deleted'), 
						      	_this.$i18n.t('image_deleted'), 
						      	'success'
						    );
						    _this.retrieveImages();
						}
					).catch(function(err){
						console.log(err);
						console.log(err.response);
						console.log(err.status);

						_this.$swal(
						  _this.$i18n.t('notification'),
						  _this.$i18n.t('error_to_remove_image'), 
						  'error'
						); 

						if(err && err.response){
							if(err.response.status==401){
								_this.$store.commit('showModalLogin')
							}
						}

					}); 
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    _this.$i18n.t('request_canceled'),
				    'error'
				  )
				}
			});
      	},
      	removeImageFromForm(image_name,index){
      		let _this = this; 
			this.$swal({
				title: _this.$i18n.t('ask_remove_image'),
				text: '',
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('remove'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					_this.form_reg.images.splice(index,1);
				} else if (result.dismiss === _this.$swal.DismissReason.cancel) {
				  _this.$swal(
				    _this.$i18n.t('canceled'),
				    '',
				    'error'
				  )
				}
			});
      	}, 
      	zoomImage(src){
      		this.zoom_image_src = src;
      		this.$refs.modal_zoom_image.show();
      	},
	    getCategories(){
			var _this = this; 
			this.axios.get(this.server_path_categories,{ 
				headers:{  
					'Accept':'application/json', 
          			'Content-Type':'application/json',
				},
				params:{ 
					param:'without_parent_and_with_children',
				}, 
			}).then(
			function(response){
				console.log(response);  
				let _categories = response.data;
				_categories.forEach(function(_cat){
					_cat.selected = false;
					_cat.children.forEach(function(child){
						child.selected=false;
					});
				});
				_this.categories = _categories;				  
				_this.setCurrentCategories();
			}
			).catch(function(err){
				console.log(err);
				console.log(err.response);
				console.log(err.status);
				_this.server_msg='Error.';


				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
			}); 
	    },
	    highlight_product(item,index){
	    	this.selected.reg=item;
	    	let _data = {
	    		highlight:(item.highlight==1 ? 0:1),
	    	};
	    	let _this = this;
	    	this.axios({
		        url:this.server_path+'_highlight/'+item.id,
		        method:'PUT',
		        data:_data,
		        headers:{ 
					'Accept':'application/json',
					'Content-Type':'application/json',
		        }, 
		   	}).then(function(response){ 
		   		console.log(response);
		   		_this.selected.reg.highlight = response.data.highlight;  
	        }).catch(function(err){
	        	console.log(err);

				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin')
					}
				}
	        });   

	    	
	    },
	    onClickCategory(parent){
	    	parent.selected=!parent.selected;
	    	if(!parent.selected){
	    		parent.children.forEach(child=>child.selected=false);
	    	}
	    },
	    onClickChildCategory(child,parent){
	    	child.selected=!child.selected;
	    	if(child.selected){
	    		parent.selected = true;
	    	}else{
	    		let children_selected = parent.children.filter(child=>child.selected);
	    		if(children_selected.length<=0)parent.selected=false;
	    	}
	    },
	},
	watch:{   
	}
}
</script>
<style type="text/css" lang="scss" scoped> 
.table-list{
	/*text-align: left; */
}
.actions{
	min-width: 140px;
	>button{
		margin: 1px 3px; 
	}	
} 
.custom_font{
	
	/*
	font-size: 12px;
	*/
}
.btn-custom_variant_button{
	color:#237abd;
	background: white;
}
.btn-custom_variant_button_del{
	color:#ff0000;
	background: white;
}
.fg-left{
	text-align: left;
}
.btn-phone{
	background: #5bc717;
	color: white;
}
.f-group{
	text-align: left;
}
.btn-email{
  	background: #ff5050;
  	color: white;
} 
.btn-toggle-highlight{
	color: green;
}
.btn-toggle-highlight:hover{
	color: green;
}
.btn-toggle-unhighlight{
	color: #777;
	&:hover{
		color: green;
	}
} 
.vue-select-image{
	ul{
		align-items: center;
    	display: flex; 
		flex-wrap: wrap;
		list-style: none;
		padding-left: initial;
	}
	li{ 
		margin: 2px;
		padding:2px;
		position: relative;
		>span{ 
			box-shadow:0px 1px 10px 2px #0000007a;
			cursor:pointer;
			&.del{
			 	position: absolute;
			    top: 10px;
			    right: 10px;
			    z-index: 10;
			    background: red;
			    padding: 5px 12px;
			    color: #fff;
			    border-radius: 50%;
			    border:3px solid #fff;
			}
			&.sel{
			 	position: absolute;
			    top: 10px;
			    left: 10px;
			    z-index: 10;
			    background: white;
			    padding: 5px 9px;
			    color: #131313;
			    border-radius: 50%;
			    border:1px solid #999;
			   	&.selected{
					border: 3px solid #ffffff; 
				    background:green;
				    color:white;
				} 
			}
			&.title1{
			    position: absolute;
			    bottom: 10px;
			    left: 4px;
			    background: #00000099;
			    color: white;
			    max-width: 95%;
			    height: 22px;
			    overflow: hidden;
			}
		}
	}
	&.quarter-width{
		li{
			width:23%;
		}
	}
	&.half-width{
		li{
			width:47%;
		}
	}
	&.full-width{
		li{
			width:98%;
		}
	}
	img{
		border: 3px solid #BBB;
		position: relative;
		width: 100%;
	    border-radius: 10px;
	    transition: border 0.1s ease-in-out;
	    &.img-selected{
	 		border: 3px dashed #32828a;
		    padding: 1px;
		    box-shadow: 1px 3px 9px 0px #7d7d7d;
		}
	}
}           
.swal2-container{
	z-index: 10000;
}
.noselect {
  	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
   	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}




 

.item-dropzone-area {
    height: 2rem;
    background: #888;
    opacity: 0.8;
    animation-duration: 0.5s;
    animation-name: nodeInserted;
}

.drag-element{
	width: 45%;
	position: relative;
	display: inline-block;
	margin: 5px;
	img{
		position: relative;
		width: 100%;
	}
	.zoom-image{
	    position: absolute;
	    top: 50px;
	    right: 5px;
	    /* -webkit-transform: translate(-50%,-50%); */
	    /* transform: translate(-50%,-50%); */
	    z-index: 20;
	    opacity: 0.7;
	}
	.remove-image{
		position: absolute;
		top:5px;
		right: 5px; 
		z-index: 20;
		opacity: 0.7;
	}
}   
.modal_zoom_image img{
	position: relative;
	max-width: 100%;
} 
#modal_categories{
	ul{
		text-align: left;
		list-style: none;
	}
	label{
		svg{
			color:red;
		}
		&.selected{
			svg{
				color:green;
			}
		}
	}
}
.check-cat{
	color:#777;
	border:1px solid transparent;
	width: 20px;
	height: 20px;
	border-radius: 50%; 
	&.selected{
		color:green;
		border:1px solid green;
		width: 20px;
		font-size: 15px;
		font-weight: bold;
		height: 20px;
		padding: 2px;
	}
} 
.btn-unhightlighted{
	color:#999;
}
.btn-hightlighted{
	color:#00ff00;
}
.table-list-categories{
	text-align: left;
    list-style: none;
    padding-left: 5px;
    font-size: 12px;
    ul{
	    list-style: none;
	    padding-left: 10px;
	    li{ 
		    &:before{
		    	content:'- ';
		    }
	    }
    }
    li{ 
	    &:before{
	    	content:'- ';
	    }
    }
    label{
    	margin-bottom: 2px;
    }
}
</style>
