<template>
	<div>
		<h2>
			<b-btn 
				@click="save" 
				variant="success" 
				v-b-tooltip 
				:title="$t('save')"
			>
				<font-awesome-icon icon="save"></font-awesome-icon>	
			</b-btn>
			{{$t('terms-of-services')}}
		</h2>
		<b-container>
			<wysiwyg v-model="myHTML" /> 
		</b-container>
	</div>
</template>
<script>
import Vue from 'vue'



import axios from 'axios' 
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue); 

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'  

import wysiwyg from "vue-wysiwyg";
Vue.use(wysiwyg, { 
}); 
import "vue-wysiwyg/dist/vueWysiwyg.css";

/*
import CKEditor from '@ckeditor/ckeditor5-vue';

Vue.use( CKEditor );
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
*/

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faSave, 
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faSave) 

Vue.component('font-awesome-icon', FontAwesomeIcon) 

import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2)  

export default{
	data(){
		let _server_path = process.env.VUE_APP_SERVER_API_URL+"/text-terms-of-services";
		return {
			myHTML:'',
			server_path:_server_path, 
		};
	},
	mounted(){
		this.getContent();
	},
	methods:{
		getContent(){
			let _this = this;
			this.axios({
		        url:_this.server_path,
		        method:'GET',
		        data:{},
		        headers:{ 
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	   			console.log(response);   
	   			_this.myHTML = response.data.content;
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status);  
		   			_this.$swal(
		              	_this.$i18n.t('the_text_could_not_be_recovered'),
		              	'',
		              	'error'
		            );

					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin')
						}
					}
	        }); 
		},
		save(){
			let _this = this;
			this.axios({
		        url:_this.server_path,
		        method:'POST',
		        data:{html:_this.myHTML},
		        headers:{ 
          			'Content-Type':'application/json',
		        }, 
		   	}).then(
	          	function(response){
	   			console.log(response);  
	   			_this.$swal(
	              	_this.$i18n.t('text_saved'),
	              	'',
	              	'success'
	            );
	        }).catch(
	        	function(err){
	          		console.log(err);
	          		console.log(err.response);
	          		console.log(err.status); 
		   			_this.$swal(
		              	_this.$i18n.t('text_no_saved'),
		              	'',
		              	'error'
		            );
		            
					if(err && err.response){
						if(err.response.status==401){
							_this.$store.commit('showModalLogin')
						}
					}
	        });  
		},
	},
	watch:{

	},
}
</script>
<style lang="scss" scoped>
	
</style>