<template>
  <div class="form">
   <div>
      <b-form-group 
        label="Usuario" 
      >
        <b-form-input 
          type="text"
          v-model="form.usr"
          required
          name="username"
          v-on:keyup.enter="login" 
          placeholder="Usuario" />
      </b-form-group>

      <b-form-group   
        label="Contraseña"  >
        <b-form-input 
          type="password"
          v-model="form.pass"
          required 
          name="password"
          v-on:keyup.enter="login" 
          placeholder="Contraseña" />
      </b-form-group> 
      <div>
        <label>{{msg_server}}</label>
      </div>

      <b-button variant="primary" @click="login">Iniciar sesión</b-button> 
    </div>
  </div>
</template>
<script>


  import Vue from 'vue'
  import BootstrapVue from 'bootstrap-vue'

  Vue.use(BootstrapVue)

  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'  

  import { library } from '@fortawesome/fontawesome-svg-core'
  import { faPlus,faEdit,faCloudDownloadAlt } from '@fortawesome/free-solid-svg-icons'
  import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

  library.add(faPlus)
  library.add(faEdit)
  library.add(faCloudDownloadAlt)

  Vue.component('font-awesome-icon', FontAwesomeIcon)  

  import form_helpers from '@/helpers/forms'

  import axios from 'axios' 
  import VueAxios from 'vue-axios'
   
  Vue.use(VueAxios, axios)

  import dotenv from 'dotenv'
  dotenv.config() 

export default { 
  data() {
    return { 
      form:{
        usr:'',
        pass:''
      },
      msg_server:''

    }
  },
  mounted(){ 
    this.setHeader();
  },
  computed: { 
  },
  methods: { 
    setHeader(h){ 
      let _this = this;
      let _hv = null;
      if(process.env.VUE_APP_WEBSITE_STORAGE=="session"){
        _hv = sessionStorage.getItem(process.env.VUE_APP_WEBSITE_STORAGE_KEY);
      }else if(process.env.VUE_APP_WEBSITE_STORAGE=="storage"){ 
        _hv = localStorage.getItem(process.env.VUE_APP_WEBSITE_STORAGE_KEY);
      }else{
        //TODO
      } 
      if(_hv){
        _this.axios.defaults.headers.common['Authorization'] = process.env.VUE_APP_WEBSITE_HEADER_SESSION_TOKEN_TYPE+' '+_hv;
      }  
      return h;
    }, 
    login() {
      let _this = this;
      let _url = _this.urlWS+'/login';
      console.log("url : "+_url);
      let _headers = {};
      _headers = _this.setHeader(_headers);
      _headers['Accept'] = 'application/json';
      _headers['Content-Type'] = 'application/json'; 
      _this.axios({
        url:_url,
        method:'POST',
        data:{
          email: _this.form.usr, 
          password: _this.form.pass, 
        },
        headers:_headers, 
      }).then(
        function(response){
          console.log(response);
          if(response.status==200){
            if(process.env.VUE_APP_WEBSITE_STORAGE=="session"){
              sessionStorage.setItem(process.env.VUE_APP_WEBSITE_STORAGE_KEY,response.data.token);
            }else if(process.env.VUE_APP_WEBSITE_STORAGE=="storage"){  
              localStorage.setItem(process.env.VUE_APP_WEBSITE_STORAGE_KEY,response.data.token);
            }else{
              //TODO
            }
            _this.axios.defaults.headers.common['Authorization'] = process.env.VUE_APP_WEBSITE_HEADER_SESSION_TOKEN_TYPE+' '+response.data.token;
          }
          _this.msg_server = 'Bienvenido';
          _this.$store.commit('hideModalLogin')
          window.location.reload();
        }
      ).catch(function(err){
        console.log(err);
        console.log(err.response);
        console.log(err.status);
        if(err){
          if(err.status==401){
            _this.msg_server = _this.$i18n.t('unauthenticated');
          }else{
            _this.msg_server = 'Error';
          }
        } else{
          _this.msg_server = 'Error';
        } 
      }); 
    },
  },
  props: {
    urlWS: {
      type: String,
      required: true,
      default:''
    }, 
  }, 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"> 
  .form{
    text-align: left;
  }
</style>
