<template>
  <div class="hello"> 
    <div>
      <h3>Welcome</h3>
    </div>
  </div>
</template>

<script lang="ts">
export default{

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"> 
</style>
