<template>
	<div> 
		<b-btn variant="light" @click="startRecord($event)">
			<font-awesome-icon icon="microphone-alt"></font-awesome-icon>
		</b-btn>
	</div>
</template>
<script>

import Vue from 'vue'
import VueSweetalert2 from 'vue-sweetalert2' 
Vue.use(VueSweetalert2)  

import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue)

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

import { library } from '@fortawesome/fontawesome-svg-core'
import { 
	faMicrophoneAlt, 
} from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faMicrophoneAlt) 

Vue.component('font-awesome-icon', FontAwesomeIcon) 

import 'bootstrap/dist/css/bootstrap.css' 

export default{
	data(){
		return {
			final_transcript:'',
			recognizing:false,
			ignore_onend:false,
			start_timestamp:0,
			recognition:null,
			two_line:/\n\n/g,
			one_line:/\n/g,
			first_char:/\S/,
		};
	},
	mounted(){
		this.init();
	},
	methods:{
		linebreak(s) {
		  return s.replace(this.two_line, '<p></p>').replace(this.one_line, '<br>');
		},

		capitalize(s) {
		  return s.replace(this.first_char, function(m) { return m.toUpperCase(); });
		},
		startRecord(event){
			if (this.recognizing) {
			    this.recognition.stop();
			    return;
			}
			this.final_transcript = '';
			this.recognition.lang = 'es-PE';
			this.recognition.start();
			this.ignore_onend = false;    
			this.start_timestamp = event.timeStamp;
		},
		init(){ 
			let _this = this;
			if (!('webkitSpeechRecognition' in window)) { 
				console.log("cant run webkitSpeechRecognition");
			} else { 
			  	_this.recognition = new webkitSpeechRecognition();
			  	_this.recognition.continuous = true;
			  	_this.recognition.interimResults = true;

			  	_this.recognition.onstart = function() {
			  		console.log("recognition onstart");
			   	 	_this.recognizing = true; 
			  	};

			  	_this.recognition.onerror = function(event) {
			  		console.log("recognition onerror",event);
			    	if (event.error == 'no-speech') { 
			      		_this.ignore_onend = true;
			    	}
			    	if (event.error == 'audio-capture') { 
			      		_this.ignore_onend = true;
			    	}
			    	if (event.error == 'not-allowed') {
				      	if (event.timeStamp - _this.start_timestamp < 100) { 
				      	} else { 
				      	}
			      		_this.ignore_onend = true;
			    	}
			  	};

			  	_this.recognition.onend = function() {
			  		console.log("recognition onend");
			    	_this.recognizing = false;
			    	if (_this.ignore_onend) {
			      		return;
			   	 	} 
				    if (!_this.final_transcript) { 
				      return;
				    } 
				    console.log("text => "+_this.final_transcript);
			  	};

			  	_this.recognition.onresult = function(event) {
			  		console.log("recognition onresult",event);
				    let interim_transcript = '';
				    if (typeof(event.results) == 'undefined') {
				      	_this.recognition.onend = null;
				      	_this.recognition.stop(); 
				      	return;
				    }
				    for (var i = event.resultIndex; i < event.results.length; ++i) {
				      	if (event.results[i].isFinal) {
				        	_this.final_transcript += event.results[i][0].transcript;
				      	} else {
				        	interim_transcript += event.results[i][0].transcript;
				      	}
				    }
				    _this.final_transcript = _this.capitalize(_this.final_transcript); 
				    if (_this.final_transcript || interim_transcript) { 
				    }
			  	};
			}
		},
	},
	watch:{

	},
	props:{

	},
}
</script>
<style scoped lang="scss">
	
</style>