<template>
  <div id="app">
    <b-modal 
      id="modal_login" ref="modal_login" 
      v-model="showModalLogin" 
      :title="$t('log_in')" 
      :hide-footer="true">
        <app-login-form v-bind:urlWS="server_host_api+'/users'"></app-login-form>
    </b-modal>
    <b-navbar toggleable="lg" type="dark" variant="nav-custom">  
 
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto"> 

          <b-nav-item-dropdown right>
            <!-- Using button-content slot -->
            <template slot="button-content">
              <font-awesome-icon icon="user"></font-awesome-icon>
            </template>
            <b-dropdown-item href="#" @click="openModalLogin">Login</b-dropdown-item>
            <b-dropdown-item href="#" @click="logout">Signout</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav> 
    </b-navbar>
    <div id="app_menu">
      <div id="nav">
        <ul>
          <li>
            <router-link to="/">Home</router-link>
          </li>
          <li>
            <router-link to="/covers">
              <span>{{$t('cover_title')}}</span>
            </router-link>
          </li>
          <li>
            <router-link to="/categories">
              <span>{{$t('category_title')}}</span>
            </router-link>
          </li>
          <li>
            <router-link to="/products">
              <span>{{$t('products_title')}}</span>
            </router-link>
          </li>
          <li>
            <router-link to="/options">
              <span>{{$t('options_title')}}</span>
            </router-link>
          </li>
          <li>
            <router-link to="/users">
              <span>{{$t('users_title')}}</span>
            </router-link>
          </li>
          <li>
            <router-link to="/terms-of-services">
              <span>TermsOfServices</span>
            </router-link>
          </li>
        </ul> 
      </div>
    </div>
    <div id="app_content">
      <router-view/> 
    </div>

  </div>
</template>
<script>
  
  import Vue from 'vue' 
  import axios from 'axios' 
  import VueAxios from 'vue-axios' 

  Vue.use(VueAxios, axios)

  import BootstrapVue from 'bootstrap-vue' 

  Vue.use(BootstrapVue)

  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'  

  import { library } from '@fortawesome/fontawesome-svg-core'
  import { 
    faUser, 
  } from '@fortawesome/free-solid-svg-icons'
  import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

  library.add(faUser) 

  export default{
    data(){ 
      return{
        server_host_api:process.env.VUE_APP_SERVER_API_URL,
        logout_url:process.env.VUE_APP_SERVER_API_URL+'/users/logout',
      }
    },
    mounted(){

    },
    methods:{
      logout(){ 
        let _this = this;
        let _url = _this.logout_url;
        console.log("url : "+_url);
        let _headers = {}; 
        _headers['Accept'] = 'application/json';
        _headers['Content-Type'] = 'application/json'; 
        _this.axios({
          url:_url,
          method:'POST',
          data:{ 
          },
          headers:_headers, 
        }).then(
          function(response){
            console.log(response);
            if(response.status==200){
              if(process.env.VUE_APP_WEBSITE_STORAGE=="session"){
                sessionStorage.setItem(process.env.VUE_APP_WEBSITE_STORAGE_KEY,null);
              }else if(process.env.VUE_APP_WEBSITE_STORAGE=="storage"){  
                localStorage.setItem(process.env.VUE_APP_WEBSITE_STORAGE_KEY,null);
              }else{
                //TODO
              }
              _this.axios.defaults.headers.common['Authorization'] = '';
              _this.$swal(
                _this.$i18n.t('logout_successfully'),
                '',
                'success'
              );
              window.location.assign("/");
            }else{ 
              _this.$swal(
                _this.$i18n.t('logout_warning'),
                '',
                'warning'
              );
            }
          }
        ).catch(function(err){
          console.log(err);
          console.log(err.response);
          console.log(err.status); 
          _this.$swal(
            _this.$i18n.t('logout_error'),
                '',
            'error'
          );
        }); 
      },
      openModalLogin(){
        this.$store.commit('showModalLogin');
      },
    },
    computed:{
      showModalLogin:{
        get(){
          return this.$store.state.modals.login;
        },
        set(value){
          this.$store.commit('setModalLogin', value);
        },
      }
    },
    watch:{

    }
  }

</script>

<style lang="scss">
$menu_bg : #00381f;
$menu_bg_hover : #225630;
body{
  background-color: #efefef !important;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; 
  max-width: 1200px;
  margin: auto;
  position: relative;
  background: white;
}
#nav {
  padding: 30px 0px;
  background: $menu_bg;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
  >ul{
    text-align: left;
    list-style: none;
    padding-left: 0px;
    >li{
      color:white;
      transition: all 0.5s ease-in-out;
      >a{
        color: inherit;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding:10px 5px 10px 10px;
        >span{
          position: relative;
          z-index: 1;
        }
        &.router-link-exact-active{
          background:$menu_bg_hover;
          position: relative;
          &:after{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;  
            content: '';
            border-bottom: 20px solid transparent;
            border-top: 20px solid transparent;
            border-right: 15px solid white;
            border-left: 0px solid transparent; 
            z-index: 0;
          }
        }
      }
      &:hover{
        background:$menu_bg_hover;
        cursor: pointer;

      }
    }
  }
}
#app_menu{
  position: absolute;
  height: 100%;
  background: $menu_bg;
}
#app_content{
  padding:30px 5px 10px 5px;
}
.bg-nav-custom{
  background: #1ba567;
}

.table-container{
  width: 100%; 
  position: relative;
}
@media (max-width: 1000px){
  .table-container{ 
    overflow-x: scroll; 
  }
}
@media(min-width: 321px){
  #app_menu{
    width: 36%;
    position: absolute;
  }
  #app_content{
    position: relative;
    max-width: 64%;
    margin-left: 36%; 
  }
}
@media(min-width: 532px){
  #app_menu{
    width: 20%;
    position: absolute;
  }
  #app_content{
    position: relative;
    max-width: 80%;
    margin-left: 20%; 
  }
}
@media(min-width: 778px){
  #app_menu{
    width: 20%;
    position: absolute;
  }
  #app_content{
    position: relative;
    max-width: 80%;
    margin-left: 20%; 
  }
}
@media(min-width: 992px){
  #app_menu{
    width: 20%;
    position: absolute;
  }
  #app_content{
    position: relative;
    max-width: 80%;
    margin-left: 20%; 
  }
}
</style>
